
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding: 20px; 
  max-width: 1200px;
  margin: 0 auto; 
  box-sizing: border-box; 
}



.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.paginacao button {
  background-color: var(--sb-blue);
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 15px;
}

.paginacao button:hover {
  filter: brightness(110%);
}

.paginacao button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 15px;
   
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    margin-left: 20px;
    gap: 10px;
  }
}
