.cardProduto {
  display: flex;
  flex-direction:column;
  background-color: var(--dark-blue);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  width: 250px;
  list-style-type: none;
  gap: 10px;
  justify-content: space-between;
}

p {
  margin: 0;
}

.cardProdutoId{
  text-align: right;
  padding: 0 5px 0 0;
  font-weight: bold;
  color: var(--sb-yellow);
}

.cardProdutoTitle {
  font-size: 1.25rem;
  color: var(--sb-blue);
  margin: 0;
}

.cardProdutoDescription {
  margin-top: 10px;
  color: var(--light-grey);
}

.cardProdutoPrice,
.cardProdutoCategories {
    color: var(--light-blue);
}

.cardProdutoActions{
  display: flex;
  justify-content: space-between;
}

.cardProdutoBtnDetail {
  background-color: var(--sb-yellow);
  border: none;
  color: var(--dark-blue);
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 10px 5px 0 0;
  font-weight: 700;
  cursor: pointer;
}



