.header {
  background-color: var(--dark-blue);
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--sb-yellow);
}

.header_title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-grey);
}

